/* css for login area */
.login-area {
    background-color: #ffffff;
    color: black;
    line-height: 24px;
    margin: 90px 500px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.userInfo {
    background-color: #ffffff;
    border-color: #ced4da;
    border-radius: 4px 4px 0px 0px;
    border-style: solid;
    border-width: 1px;
    color: #495057;
    font-family: -apple-system;
    line-height: 24px;
    margin: 0px 0px -1px;
    padding: 10px;
}

#logIn {
    align-items: flex-start;
    background-color: #fa8816;
    border-color: #fa8816;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    font-family: -apple-system;
    font-size: 20px;
    line-height: 30px;
    padding: 8px 16px;
    text-align: right;
}

/* css for sign-up area */
.signup-area {
    color: hsl(210 11% 15%);
    flex-basis: 66.6667%;
    line-height: 24px;
    padding: 15px;
    border-radius: 8px;
}

.signup-area h3 {
    text-align: center;
    color: white;
}

#signUp {
    align-items: flex-start;
    background-color: #fa8816;
    border-color: #fa8816;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    font-family: -apple-system;
    font-size: 20px;
    line-height: 30px;
    padding: 8px 16px;
    text-align: right;
}

.sform {
    padding: 15px;
    margin: 0px 550px;
}


/* Main page*/

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fa8816;
}


/* Style the buttons inside the tab */

.tab a,
button {
    background-color: inherit;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}

.tab .search-container button {
    float: right;
    background: #ddd;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.tab .search-container button:hover {
    background: #ccc;
}

.tab .search-container {
    float: right;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/*main*/
.home-hero {
    padding-top: 2rem;
    /* background-color: #011327b2; */
}

/* .home-hero h1 {
    text-align: center;
    font-size: 1.9rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
    border-bottom: solid #011327 3px;
    display: block;
    width: fit-content;
    margin: 0.5rem auto;
} */

.card {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    width: 200px;
    height: 450px;
    background-color: #011327;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 1s ease-in-out;
  }
  
  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card img {
    width: 100%;
  }
  
  .card h5,
  p {
    text-align: center;
    color: #c6c5b9;
    margin-top: 0.4rem;
  }

  .card-info {
    text-align: center;
    color: #c6c5b9;
  }
@media screen and (min-width: 500px) {
    .top-ten-movie-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* border: solid; */
        width: 80%;
        max-height: max-content;
        margin: 0 auto;
        max-width: 900px;
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: #fa8816;
    color: white;
    /* padding: 10%; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #fa8816;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: center;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  /* Links inside the dropdown
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  
